# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. Flávio Martins

### Grupo 21
<dl>
    <dt>35 horas (33%)</dt>
    <dd>ist1100293 Carlos Felgueiras</dd>
    <dt>35 horas (33%)</dt>
    <dd>ist1102556 Daniel Carvalho</dd>
    <dt>35 horas (34%)</dt>
    <dd>ist1102597 Duarte Sousa</dd>
<dl>

In [259]:
%load_ext sql
%sql postgresql://db:db@postgres/db
%config SqlMagic.displaylimit = None

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
displaylimit: Value None will be treated as 0 (no limit)

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [308]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

Running query in 'postgresql://db:***@postgres/db'

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [309]:
%%sql
-- populate.sql

INSERT INTO customer VALUES (1, 'Pedro', 'pedrofrigolet@gmail.com', '+351 912345678', 'Rua da Boa Nova nº39, 4050-101 Ermesinde');
INSERT INTO customer VALUES (2, 'Miguel', 'migueltavares@gmail.com', '+351 942069697', 'Travessa da Esperança nº14 2ºD, 4410-490 Rebordosa');
INSERT INTO customer VALUES (3, 'José', 'zedopipo@gmail.com', '+351 918008576', 'Rua dos Lusíadas nº14, 2955-108 Pinhal Novo');

INSERT INTO employee VALUES (10293847562, 201928376, '2000-06-15', 'João');
INSERT INTO employee VALUES (91827364503, 282736579, '2001-03-15', 'Carlos');
INSERT INTO employee VALUES (10243347562, 200923356, '2002-04-15', 'Marcos');

INSERT INTO department VALUES('Recursos Humanos');
INSERT INTO department VALUES('Logística');
INSERT INTO department VALUES('Comercial');

INSERT INTO workplace VALUES('Rua Cid Tomar 49, 2830-573 Palhais', 38.623246, -9.047482);
INSERT INTO workplace VALUES('Avenida Lago 23, 2765-099 Cascais', 38.705305, -9.377783);
INSERT INTO workplace VALUES('Rua Pé Mouro Armz 108, 2735-542 Sintra', 38.770582, -9.287598);
INSERT INTO workplace VALUES('Av. Ten-Cel. Melo Antunes, 4820-398 Fafe', 41.454987, -8.178397);

INSERT INTO office VALUES('Rua Cid Tomar 49, 2830-573 Palhais');
INSERT INTO office VALUES('Av. Ten-Cel. Melo Antunes, 4820-398 Fafe');

INSERT INTO warehouse VALUES('Avenida Lago 23, 2765-099 Cascais');
INSERT INTO warehouse VALUES('Rua Pé Mouro Armz 108, 2735-542 Sintra');

INSERT INTO orders VALUES(1, 2, '2022-11-30');
INSERT INTO orders VALUES(2, 3, '2022-12-07');
INSERT INTO orders VALUES(3, 1, '2022-12-24');
INSERT INTO orders VALUES(4, 3, '2022-01-05');
INSERT INTO orders VALUES(5, 2, '2022-01-17');
INSERT INTO orders VALUES(6, 1, '2023-01-21');
INSERT INTO orders VALUES(7, 1, '2023-02-12');
INSERT INTO orders VALUES(8, 2, '2022-03-19');
INSERT INTO orders VALUES(9, 3, '2023-04-17');

INSERT INTO product VALUES('TS123456', 'Água Molhadinha, 50cl', 'Água mineral natural da Serra da Estrela. Com pH de 7.0, perfeita para a saude. Produto Nacional', 0.50, 123456789000);
INSERT INTO product VALUES('KS944RUR', 'Carregador Apple iPhone', 'Carregador lightning de 40W com fio de 40cm.', 90, 789870254652);
INSERT INTO product VALUES('KS93528TUT', 'Bolachas Oreo', 'Bolachas de chocolate com recheio de creme.', 1.50);
INSERT INTO product VALUES('KA17120203', 'Red Bull, 25cl', 'Bebida energética com cafeína, baixa em açúcar.', 2.50);
INSERT INTO product VALUES('HM21KMPW', 'Portátil Gaming ASUS Rog Strix', 'Intel Core i7, 32Gb Ram, RTX 4080, SSD NVMe 1Tb', 2389.99);
INSERT INTO product VALUES('X00299X9JF', 'Fortnite 1500 VBUCKS Gift Card', 'Código de acesso a 1500 VBUCKS. Compatível com Windows, Mac, iOS, Android, PlayStation, XBOX, Nintendo Switch.', 0.50);

INSERT INTO supplier VALUES(122365939, 'Molhadinha, Lda.', 'Av. Santo Condestável, 1950-011 Lisboa', 'TS123456', '2024-01-01');
INSERT INTO supplier VALUES(135238432, 'Apple', 'Campo Pequeno, 1000-082 Lisboa', 'KS944RUR', '2024-02-01');
INSERT INTO supplier VALUES(159438584, 'Oreo', 'Praça Duque de Saldanha 1, 1050-094 Lisboa', 'KS93528TUT', '2023-12-31');
INSERT INTO supplier VALUES(154294955, 'Red Bull', 'Av. da Liberdade 240 2º Esq, 1250-148 Lisboa', 'KA17120203', '2024-01-01');
INSERT INTO supplier VALUES(165439089, 'ASUS', 'Praça Martim Moniz 39, 1150-052 Lisboa', 'HM21KMPW', '2025-01-01');
INSERT INTO supplier VALUES(194355853, 'Epic Games', 'Rua do Grilo 84, 1950-144 Lisboa', 'X00299X9JF', '2024-12-31');

INSERT INTO works VALUES(10293847562, 'Logística', 'Rua Cid Tomar 49, 2830-573 Palhais');
INSERT INTO works VALUES(10293847562, 'Recursos Humanos', 'Avenida Lago 23, 2765-099 Cascais');
INSERT INTO works VALUES(91827364503, 'Comercial', 'Rua Pé Mouro Armz 108, 2735-542 Sintra');
INSERT INTO works VALUES(10243347562, 'Logística', 'Av. Ten-Cel. Melo Antunes, 4820-398 Fafe');
INSERT INTO works VALUES(10243347562, 'Comercial', 'Rua Cid Tomar 49, 2830-573 Palhais');

INSERT INTO process VALUES(91827364503, 1);
INSERT INTO process VALUES(91827364503, 2);
INSERT INTO process VALUES(91827364503, 3);
INSERT INTO process VALUES(91827364503, 4);
INSERT INTO process VALUES(91827364503, 5);
INSERT INTO process VALUES(91827364503, 6);
INSERT INTO process VALUES(10243347562, 7);
INSERT INTO process VALUES(10243347562, 8);
INSERT INTO process VALUES(10243347562, 9);

INSERT INTO pay VALUES(2, 3);
INSERT INTO pay VALUES(4, 3);
INSERT INTO pay VALUES(5, 2);
INSERT INTO pay VALUES(8, 2);

INSERT INTO contains VALUES(1, 'TS123456', 16);
INSERT INTO contains VALUES(1, 'KA17120203', 3);
INSERT INTO contains VALUES(2, 'HM21KMPW', 1);
INSERT INTO contains VALUES(2, 'X00299X9JF', 3);
INSERT INTO contains VALUES(3, 'KS93528TUT', 1);
INSERT INTO contains VALUES(3, 'KA17120203', 1);
INSERT INTO contains VALUES(4, 'KA17120203', 40);
INSERT INTO contains VALUES(5, 'HM21KMPW', 2);
INSERT INTO contains VALUES(5, 'KS944RUR', 2);
INSERT INTO contains VALUES(6, 'KS944RUR', 1);
INSERT INTO contains VALUES(7, 'TS123456', 2);
INSERT INTO contains VALUES(7, 'KA17120203', 1);
INSERT INTO contains VALUES(7, 'KS93528TUT', 1);
INSERT INTO contains VALUES(8, 'HM21KMPW', 2);
INSERT INTO contains VALUES(9, 'X00299X9JF', 5);

INSERT INTO delivery VALUES('Avenida Lago 23, 2765-099 Cascais', '122365939');
INSERT INTO delivery VALUES('Avenida Lago 23, 2765-099 Cascais', '135238432');
INSERT INTO delivery VALUES('Avenida Lago 23, 2765-099 Cascais', '159438584');
INSERT INTO delivery VALUES('Rua Pé Mouro Armz 108, 2735-542 Sintra', '154294955');
INSERT INTO delivery VALUES('Rua Pé Mouro Armz 108, 2735-542 Sintra', '165439089');
INSERT INTO delivery VALUES('Rua Pé Mouro Armz 108, 2735-542 Sintra', '194355853');

Running query in 'postgresql://db:***@postgres/db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [262]:
%%sql

ALTER TABLE employee ADD CHECK (AGE(bdate) >= interval '18 years');

Running query in 'postgresql://db:***@postgres/db'

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [263]:
%%sql
-- (RI-2)

CREATE OR REPLACE FUNCTION workplace_type_func() RETURNS TRIGGER AS
$$
DECLARE in_warehouses VARCHAR;
DECLARE in_offices VARCHAR;
BEGIN
    SELECT address INTO in_warehouses FROM warehouse WHERE address=NEW.address;
    SELECT address INTO in_offices FROM office WHERE address=NEW.address;
    
    IF (in_warehouses IS NULL) AND (in_offices IS NULL) THEN
        RAISE EXCEPTION 'O workplace %s tem de ser office ou warehouse', NEW.address;
    END IF;
    
    IF (in_warehouses IS NOT NULL) AND (in_offices IS NOT NULL) THEN
        RAISE EXCEPTION 'O workplace %s não pode ser office e warehouse ao mesmo tempo', NEW.address;
    END IF;
        
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS workplace_type ON workplace;
CREATE CONSTRAINT TRIGGER workplace_type AFTER INSERT OR UPDATE ON workplace DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION workplace_type_func();

DROP TRIGGER IF EXISTS workplace_type_office ON office;
CREATE CONSTRAINT TRIGGER workplace_type_office AFTER INSERT OR UPDATE ON office DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION workplace_type_func();
 
DROP TRIGGER IF EXISTS workplace_type_warehouse ON warehouse;
CREATE CONSTRAINT TRIGGER workplace_type_warehouse AFTER INSERT OR UPDATE ON warehouse DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION workplace_type_func();
    
CREATE OR REPLACE FUNCTION workplace_always_type_func() RETURNS TRIGGER AS
$$
DECLARE in_workplace VARCHAR;
BEGIN
    SELECT address INTO in_workplace FROM workplace WHERE address=OLD.address;

    IF (in_workplace IS NOT NULL) THEN
        RAISE EXCEPTION 'O workplace %s tem de continuar office ou warehouse', OLD.address;
    END IF;
    
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS workplace_always_type_office ON office;
CREATE CONSTRAINT TRIGGER workplace_always_type_office AFTER DELETE ON office DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION workplace_always_type_func();

DROP TRIGGER IF EXISTS workplace_always_type_warehouse ON warehouse;
CREATE CONSTRAINT TRIGGER workplace_always_type_warehouse AFTER DELETE ON warehouse DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION workplace_always_type_func();

Running query in 'postgresql://db:***@postgres/db'

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [264]:
%%sql
-- (RI-3)

CREATE OR REPLACE FUNCTION order_contains_func() RETURNS TRIGGER AS
$$
DECLARE in_contains INTEGER;
BEGIN
    SELECT DISTINCT order_no INTO in_contains FROM contains WHERE order_no=NEW.order_no;
    
    IF (in_contains IS NULL) THEN
        RAISE EXCEPTION 'A order % precisa de conter pelo menos um produto', NEW.order_no;
    END IF;
        
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS order_contains ON orders;

CREATE CONSTRAINT TRIGGER order_contains AFTER INSERT OR UPDATE ON orders DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION order_contains_func();

Running query in 'postgresql://db:***@postgres/db'

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [265]:
%%sql

WITH q AS (
    SELECT
        cust_no,
        c.name cust_name,
        qty,
        price
    FROM
        customer c
    NATURAL JOIN
        pay
    NATURAL JOIN
        orders
    NATURAL JOIN
        contains
    INNER JOIN
        product USING (sku)
)
SELECT
    cust_no,
    cust_name
FROM
    q
GROUP BY
    cust_no, cust_name
HAVING
    sum(qty*price) >= ALL(
        SELECT
            sum(qty*price)
        FROM
            q
        GROUP BY
            cust_no
    );

Running query in 'postgresql://db:***@postgres/db'

1 rows affected.

+---------+-----------+
| cust_no | cust_name |
+---------+-----------+
|    2    |   Miguel  |
+---------+-----------+

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [266]:
%%sql

SELECT
    e.name
FROM
    employee e
WHERE
    NOT EXISTS (
        SELECT
            date
        FROM
            orders
        WHERE
            EXTRACT(YEAR FROM date) = '2022'
        EXCEPT
        SELECT
            date
        FROM
            employee
        NATURAL JOIN
            process
        NATURAL JOIN
            orders
        WHERE
            ssn = e.ssn
    );

Running query in 'postgresql://db:***@postgres/db'

1 rows affected.

+--------+
|  name  |
+--------+
| Carlos |
+--------+

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [267]:
%%sql

SELECT
   to_char(to_date(CONCAT('01-', generate_series, '-2000'), 'DD-MM-YYYY'), 'Month') as month,
   count(date)
FROM
    generate_series(1, 12)
LEFT JOIN
    (SELECT
         order_no,
         date
     FROM
         orders
     WHERE
         order_no NOT IN (
            SELECT
                 order_no
            FROM
                 pay)
          AND
          EXTRACT(YEAR FROM date) = '2022') o
    ON (generate_series = EXTRACT(MONTH FROM o.date))
GROUP BY generate_series;

Running query in 'postgresql://db:***@postgres/db'

12 rows affected.

+-----------+-------+
|   month   | count |
+-----------+-------+
| January   |   0   |
| February  |   0   |
| March     |   0   |
| April     |   0   |
| May       |   0   |
| June      |   0   |
| July      |   0   |
| August    |   0   |
| September |   0   |
| October   |   0   |
| November  |   1   |
| December  |   1   |
+-----------+-------+

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [279]:
%%sql

DROP VIEW IF EXISTS product_sales;

CREATE OR REPLACE VIEW product_sales
AS
    SELECT
        c.sku,
        c.order_no,
        qty,
        qty*price total_price,
        EXTRACT(YEAR FROM date) years,
        EXTRACT(MONTH FROM date) months,
        EXTRACT(DAY FROM date) day_of_month,
        to_char(date, 'Day') day_of_week,
        SUBSTRING(address, '\d ([a-zA-Z ]*)$') city
    FROM
        customer
    NATURAL JOIN
        pay
    NATURAL JOIN
        orders
    NATURAL JOIN
        contains c
    INNER JOIN
        product USING (sku);

Running query in 'postgresql://db:***@postgres/db'

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

A aplicação web foi desenvolvida em Flask, com uso de templates Jinja. Foi feita com base nos ficheiros no ambiente de trabalho da cadeira, em que apenas alterámos os templates fornecidos e fizémos pequenos ajustes no CSS. 

Para comunicação com a BD desenvolvida, utilizámos a biblioteca Psycopg 3, que nos permite utilizar várias features para agilizar o desenvolvimento e proteger a aplicação. Estas features incluem pools de conexões, prepared statements, with statements (que estão associados a uma transação e dão commit ou rollback no fim do seu scope, dependendo do caso).

Páginas Web:
- Home screen: Apresenta algumas métricas sobre o negócio, tais como a contagem de produtos, clientes, encomendas, etc.
- Products: Lista todos os produtos e suas propriedades (sku, preço, EAN e descrição). Permite registar novos produtos, remover produtos e alterar os respetivos preços e descrições.
- Suppliers: Lista todos os fornecedores e as suas propriedades (TIN, sku do produto fornecido, morada, data de contrato). Permite registar e remover fornecedores.
- Orders: Lista todas as encomendas e as suas propriedades (data e produtos contidos). Permite pagar cada encomenda.
- Customers: Lista todos os clientes e as suas propriedades (telefone, e-mail e morada). Permite registar e remover clientes e aceder à lista das suas encomendas. Nas página de encomendas de cada cliente, é possível fazer tudo que é possível fazer na página Orders e também adicionar uma encomenda realizada por esse cliente.

Detalhes extra:
- Na criação de Orders e Customers, os seus ID's são gerados automaticamente (obtendo o ID máximo na BD e adicionado-lhe 1), durante a transação que adiciona a entidade pretendida. Isto previne problemas de concorrência. 

- As páginas que apenas listam as entidades, possuem um sistema de paginação, controlado por um conjunto de botões no fundo da página. Isto permite melhorar a performance da app, tanto do lado do cliente, como do lado do servidor, em situações que existem muitas entidades desse tipo. 

- De forma a melhorar a comunicação com o usuário, sempre que possivel utilizamos mensagens flash (feature do Flask) para comunicar o estado da aplicação. Podem ser mensagens de informação (ex: após realizar, com sucesso, alguma ação que altera a base de dados), de aviso (ex: caso o utilizador esteja a tentar aceder a algo que não existe) ou de erro (quando algo corre realmente mal, ex: falha de comunicação com a base de dados). Estes três tipos de mensagens estão color coded: azul para informação, amarelo para aviso e vermelho para erro.

Explicação da estrutura de ficheiros:
- `app.py`: todo o código python, que dá handle das routes, faz queries a BD, verifica a validade dos dados enviados por formulários e renderiza os templates.
- `static/style.css`: o único ficheiro estático que define a aparência de todas as páginas da app.
- `templates/`:
    - `base.html`: template base, herdado por todos os outros templates, define estruturas como a barra de navegação, prompts de mensagens flash, assim como todas as outras informações (como imports de ficheiros CSS).
    - `paged.html`: template herdado por todas as páginas que possuem um sistema de paginação, define a interface de controlo da paginação, assim como apresenta uma mensagem caso a lista a apresentar esteja vazia.
    - `home/home.html`: Template usado na homescreen da app, possui retângulos usados para apresentar as métricas do negócio.
    - `products/`, `customers/`, `orders/`, `suppliers/`: Diretorias que possuem os templates associados a cada uma das partes da app, possuem um ou mais dos seguintes ficheiros:
        - `index.html`: herda de paged.html, listando as entidades pretendidas e apresentando as funcionalidades associadas à lista.
        - `delete.html`: Formulário de confimação da remoção de uma entidade, listando as consequências na forma de warning.
        - `new.html`: Formulário de criação de uma entidade, pedindo as informações necessárias para tal.
        - `edit.html`: (Presente apenas em `products/`) Formulário de edição da entidade que apresenta campos para todas as suas propriedades, desabilitando os campos para as propriedades imutáveis. 
        - `pay.html`: (Presente apenas em `orders/`) Formulário de confirmação de pagamento de uma encomenda.

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [301]:
%%sql
WITH teste AS (
SELECT 
    EXTRACT(DAY FROM day) day_of_month,
    to_char(day, 'Day') as day_of_week,
    EXTRACT(month FROM day) months,
    city,
    sku,
    EXTRACT(YEAR FROM day) years
FROM
    generate_series('2022-01-01'::timestamp,'2022-12-31', '1 day') as day,
    (SELECT DISTINCT city FROM product_sales)a,
    (SELECT DISTINCT sku FROM product_sales)b
)
SELECT sku, city, months, day_of_month, day_of_week, SUM(coalesce(total_price, 0)), SUM(coalesce(qty, 0)) as qty
FROM product_sales
RIGHT JOIN
    teste USING (day_of_month, day_of_week, months, city, sku, years)
    GROUP BY sku,GROUPING SETS((),(city),(city,months),(city,day_of_month), (city, day_of_week))
    ORDER BY sku, city, months, day_of_month,day_of_week;

Running query in 'postgresql://db:***@postgres/db'

412 rows affected.

+------------+-------------+--------+--------------+-------------+----------+-----+
|    sku     |     city    | months | day_of_month | day_of_week |   sum    | qty |
+------------+-------------+--------+--------------+-------------+----------+-----+
|  HM21KMPW  | Pinhal Novo |   1    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   2    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   3    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   4    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   5    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   6    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   7    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   8    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   9    |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   10   |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   11   |     None     |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |   12   |     None     |     None    | 2389.99  |  1  |
|  HM21KMPW  | Pinhal Novo |  None  |      1       |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      2       |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      3       |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      4       |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      5       |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      6       |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      7       |     None    | 2389.99  |  1  |
|  HM21KMPW  | Pinhal Novo |  None  |      8       |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      9       |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      10      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      11      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      12      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      13      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      14      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      15      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      16      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      17      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      18      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      19      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      20      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      21      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      22      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      23      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      24      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      25      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      26      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      27      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      28      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      29      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      30      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |      31      |     None    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |     None     |  Friday     |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |     None     |  Monday     |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |     None     |  Saturday   |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |     None     |  Sunday     |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |     None     |  Thursday   |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |     None     |  Tuesday    |    0     |  0  |
|  HM21KMPW  | Pinhal Novo |  None  |     None     |  Wednesday  | 2389.99  |  1  |
|  HM21KMPW  | Pinhal Novo |  None  |     None     |     None    | 2389.99  |  1  |
|  HM21KMPW  |  Rebordosa  |   1    |     None     |     None    | 4779.98  |  2  |
|  HM21KMPW  |  Rebordosa  |   2    |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   3    |     None     |     None    | 4779.98  |  2  |
|  HM21KMPW  |  Rebordosa  |   4    |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   5    |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   6    |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   7    |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   8    |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   9    |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   10   |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   11   |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |   12   |     None     |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      1       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      2       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      3       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      4       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      5       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      6       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      7       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      8       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      9       |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      10      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      11      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      12      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      13      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      14      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      15      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      16      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      17      |     None    | 4779.98  |  2  |
|  HM21KMPW  |  Rebordosa  |  None  |      18      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      19      |     None    | 4779.98  |  2  |
|  HM21KMPW  |  Rebordosa  |  None  |      20      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      21      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      22      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      23      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      24      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      25      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      26      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      27      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      28      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      29      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      30      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |      31      |     None    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |     None     |  Friday     |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |     None     |  Monday     | 4779.98  |  2  |
|  HM21KMPW  |  Rebordosa  |  None  |     None     |  Saturday   | 4779.98  |  2  |
|  HM21KMPW  |  Rebordosa  |  None  |     None     |  Sunday     |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |     None     |  Thursday   |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |     None     |  Tuesday    |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |     None     |  Wednesday  |    0     |  0  |
|  HM21KMPW  |  Rebordosa  |  None  |     None     |     None    | 9559.96  |  4  |
|  HM21KMPW  |     None    |  None  |     None     |     None    | 11949.95 |  5  |
| KA17120203 | Pinhal Novo |   1    |     None     |     None    |  100.00  |  40 |
| KA17120203 | Pinhal Novo |   2    |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   3    |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   4    |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   5    |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   6    |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   7    |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   8    |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   9    |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   10   |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   11   |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |   12   |     None     |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      1       |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      2       |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      3       |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      4       |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      5       |     None    |  100.00  |  40 |
| KA17120203 | Pinhal Novo |  None  |      6       |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      7       |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      8       |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      9       |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      10      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      11      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      12      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      13      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      14      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      15      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      16      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      17      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      18      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      19      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      20      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      21      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      22      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      23      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      24      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      25      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      26      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      27      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      28      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      29      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      30      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |      31      |     None    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |     None     |  Friday     |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |     None     |  Monday     |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |     None     |  Saturday   |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |     None     |  Sunday     |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |     None     |  Thursday   |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |     None     |  Tuesday    |    0     |  0  |
| KA17120203 | Pinhal Novo |  None  |     None     |  Wednesday  |  100.00  |  40 |
| KA17120203 | Pinhal Novo |  None  |     None     |     None    |  100.00  |  40 |
| KA17120203 |  Rebordosa  |   1    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   2    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   3    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   4    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   5    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   6    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   7    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   8    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   9    |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   10   |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   11   |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |   12   |     None     |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      1       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      2       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      3       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      4       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      5       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      6       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      7       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      8       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      9       |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      10      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      11      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      12      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      13      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      14      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      15      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      16      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      17      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      18      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      19      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      20      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      21      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      22      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      23      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      24      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      25      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      26      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      27      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      28      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      29      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      30      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |      31      |     None    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |     None     |  Friday     |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |     None     |  Monday     |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |     None     |  Saturday   |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |     None     |  Sunday     |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |     None     |  Thursday   |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |     None     |  Tuesday    |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |     None     |  Wednesday  |    0     |  0  |
| KA17120203 |  Rebordosa  |  None  |     None     |     None    |    0     |  0  |
| KA17120203 |     None    |  None  |     None     |     None    |  100.00  |  40 |
|  KS944RUR  | Pinhal Novo |   1    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   2    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   3    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   4    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   5    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   6    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   7    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   8    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   9    |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   10   |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   11   |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |   12   |     None     |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      1       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      2       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      3       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      4       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      5       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      6       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      7       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      8       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      9       |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      10      |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      11      |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      12      |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      13      |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      14      |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      15      |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      16      |     None    |    0     |  0  |
|  KS944RUR  | Pinhal Novo |  None  |      17      |     None    |    0     |  0  |

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [302]:
%%sql
WITH teste AS (
SELECT
    to_char(day, 'Day') as day_of_week,
    EXTRACT(month FROM day) months,
    EXTRACT(YEAR FROM day) years
FROM
    generate_series('2022-01-01'::timestamp,'2022-12-31', '1 day') as day
)
SELECT months, day_of_week, COALESCE(AVG(total_price), 0) average
FROM
    product_sales
RIGHT JOIN
    teste USING (day_of_week, months, years)
    GROUP BY GROUPING SETS((),(months),(day_of_week))
    ORDER BY months, day_of_week;

Running query in 'postgresql://db:***@postgres/db'

20 rows affected.

+--------+-------------+-----------------------+
| months | day_of_week |        average        |
+--------+-------------+-----------------------+
|   1    |     None    | 1799.9928571428571429 |
|   2    |     None    |           0           |
|   3    |     None    | 4779.9800000000000000 |
|   4    |     None    |           0           |
|   5    |     None    |           0           |
|   6    |     None    |           0           |
|   7    |     None    |           0           |
|   8    |     None    |           0           |
|   9    |     None    |           0           |
|   10   |     None    |           0           |
|   11   |     None    |           0           |
|   12   |     None    | 1195.7450000000000000 |
|  None  |  Friday     |           0           |
|  None  |  Monday     | 2479.9900000000000000 |
|  None  |  Saturday   | 4779.9800000000000000 |
|  None  |  Sunday     |           0           |
|  None  |  Thursday   |           0           |
|  None  |  Tuesday    |           0           |
|  None  |  Wednesday  |  830.4966666666666667 |
|  None  |     None    | 2072.5300000000000000 |
+--------+-------------+-----------------------+

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

Tivemos que utilizar um script em python para popular as tabelas com muitas mais entradas de forma a forçar o postgres a usar os indices e de forma a conseguirmos testar o impacto do uso dos indices.

In [271]:
%%sql

DROP INDEX IF EXISTS orders_year_idx;

CREATE INDEX orders_year_idx ON orders USING hash (EXTRACT(YEAR FROM date));

Running query in 'postgresql://db:***@postgres/db'

### Tipo de Índice, Atributos & Justificação

- Indice Hash na tabela orders do ano extraido da coluna date: Visto que esta (EXTRACT(YEAR FROM date) = 2023) é a condição de filtragem que é geralmente mais restritiva, escolhemos este indice. (Como o price e o date nao estao na mesma tabela, nao podemos fazer um indice composto). Usamos hash porque a filtragem é por igualdade.

    - **Antes:** ![Before](images/index1_before.png)
    - **Depois:** ![After](images/index1_after.png)

- Não são necessários indices para os joins, visto que cada join já tem à disposição um indice de chave primária (default do postgres). Primeiro faz join orders com contains usando o indice de chave primaria do orders, e depois faz join do resultado com o product usando o indice de chave primaria do product.

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

In [272]:
%%sql

DROP INDEX IF EXISTS product_name_idx;

CREATE INDEX product_name_idx ON product (name) WHERE name LIKE 'A%';

Running query in 'postgresql://db:***@postgres/db'

### Tipo de Índice, Atributos & Justificação

- Indice B-Tree na coluna name da tabela product, filtrado para apenas os valores que seguem o padrão 'A%'. Apesar de o postgres deveria, em teoria, utilizar um indice B-Tree da coluna sem filtro para este tipo de queries, foi necessário filtrar o indice para apenas as entradas do formato pedido para finalmente o postgres decidir utilizar um indice desta coluna para essa operação.

    - **Antes:** ![Before](images/index2_before.png)
    - **Depois:** ![After](images/index2_after.png)
    
- Não são necessários indices para os joins, visto que o join já tem à disposição um indice para o sku, o indice de chave primária (default do postgres) do product.